# Core ML
pandas==2.0.3
numpy==1.24.3
scikit-learn==1.3.0
xgboost==1.7.6
lightgbm==4.0.0

# Experiment Tracking
mlflow==3.10.1

# Data Versioning - PIN THIS VERSION
dvc==3.67.1
dvc-s3==3.0.0

# Workflow Orchestration - REQUIRES pydantic v1
prefect==3.6.24

# API
fastapi==0.104.0
uvicorn[standard]==0.24.0
pydantic<2.0.0,>=1.10.0  # CRITICAL: Must be v1 for prefect/evidently

# Testing
pytest==7.4.0
pytest-cov==4.1.0

# Data Quality - REQUIRES pydantic v1
evidently==0.7.21
great-expectations==0.18.0

# Utilities
python-dotenv==1.0.0
pyyaml==6.0.1
loguru==0.7.2

# Cloud
# boto3==1.28.0 # No need for this, dvc-s3 already has it and installing this will create an infinite compatibility error loop. DON'T UNCOMENT THIS.

pathspec==0.12.1